
{% extends 'base.html'%}
{% block content %}
    <div class="profile">
        {%if profile.background%}
        <div class="background" style="background-image:url({{profile.background.url}})"> </div>
        {%else%}
        <div class="background"></div>
        {%endif%}
            <section>
            {%if profile.image %}
                <img class="profile-img" src="{{profile.image.url}}" alt="{{profile.user.username}}">
            {%else%}
                <img class="profile-img" src="http://cnnchile.com/sites/default/files/styles/imagen_destacada_840x559/public/pikachu_0.jpg?itok=RTjETrxj" alt="{{profile.user.username}}">
            {%endif%}
                <div class="basic-info">
                    <h1>{{profile.user.username}}</h1>
                    <h2>{{profile.title}}</h2>
                    <hr>
                    <h3>{{profile.birthday}}</h3>
                    <p>{{profile.bio}}</p>
                    <a href="{% url 'accounts:edit' %}">Editar perfil</a>
                </div>
                <div class="detail"></div>
            </section>
    
    </div>


{% endblock content %}
